// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

// Toggle global options
$enable-gradients: false;
$enable-shadows: false;
$enable-dark-mode: false;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1140px
);

// Customize some defaults

//$body-color: #363636;
//$body-bg: #fff;
//$border-radius: .4rem;
$success: #bbcc33;
$danger: #c82042;
$info: #02afe9;

$btn-focus-width: 0;
$btn-box-shadow: none;
$btn-close-focus-shadow: none;
$btn-font-size-lg: 1rem;
$btn-padding-y-lg: 0.75rem;

$card-border-width: 0;
$card-border-radius: 0;
$card-subtitle-color: grey;
$card-title-spacer-y: 1rem;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Custom styles
//

.content {
  p:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin-bottom: 0;
}

.l-spacing-1 {
  letter-spacing: 1px;
}

// Hero
.hero {
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 75vh;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, white 0, transparent 100%);
  }
}

.brand-logo {
  min-height: 400px;

  &-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
}

.card {
  &-subtitle {
    letter-spacing: 1px;
  }
}

@include media-breakpoint-up(lg) {
  .hero:before {
    background-image: linear-gradient(90deg, white 0, transparent 85%);
  }
}

// Navbar
//.nav {
//  &-item {
//
//  }
//}